/* font-family: 'Raleway', sans-serif;
 */
:root {
  --main-text-color: #757575;
  --accent-color: #2196F3;
  --title-color: #212121;
  --white-text: #ffffff;
  --body-bg-color: #E5E5E5; 
  --dark-bg-color: #2F303A;
  --logo-font: "Raleway", sans-serif;
  --filter-color: #F5F4FA;
  --one-item: 1;
    /* --dark-bg-text-color: #9da4bd;
     */  
}

html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--body-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
}

address {
  font-style: normal;
  color: var(--white-text);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.list, .portfolio-list {
  list-style: none;  
  color: inherit;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color:lightskyblue; /* delete-before-submit */
}

.section {
  padding-top: 94px;
}
/* --header-- */
.header {
  border-bottom: 1px solid #ECECEC;
}

.header .container {
  display: flex;
  justify-content:space-between;
  align-items: center;  
}

.navigation {
  display: flex;
  align-items: center; 
  justify-content:space-between; 
}

.menu, .contacts {
  display: inline-flex;
}

.menu-item:not(:last-child),
.contacts-item:not(:last-child) {
  margin-right: 40px;
}

.header-link {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);  
  padding-top: 32px;
  padding-bottom: 31px;
}

.contacts .header-link {
   color: var(--main-text-color);
}

.header-link:hover, .footer-link:hover,
.header-link:focus, .footer-link:focus {
  color: var(--accent-color);
}
/* --logo-stilization-- */
.logo-link {
  display: inline-block;
  text-decoration: none;  
}
 
.navigation .logo-link {
  margin-right: 90px;
  padding-top: 24px;
  padding-bottom: 24px;
} 

.logo-link>span:first-child {
  color: var(--accent-color);
}

.navigation .logo-link span+span {
 color: #000000;
}

.footer .logo-link span+span {
  color: var(--white-text);
}

.logo-text {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

/* --footer-- */
.footer .logo-link {
  padding-top: 60px;
  padding-bottom: 20px;
  margin: 0;
}

.list.footer-contacts {
  padding-bottom: 60px;
}

.footer-contacts-item:not(:last-child) {
  padding-bottom: 9px;
}

.footer-link{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);  
}

/* --index.html-- */
.hero, .footer {
  background-color: var(--dark-bg-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text)
}

.button {
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-text);
  cursor: pointer;
  /* display: flex;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;  */
}

.button:hover,
.button:focus {
  background-color: #188CE8;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  color: var(--title-color);
}

.features-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.19;
  text-transform: uppercase;
  color: var(--title-color);
}

.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-color);
}

/* Portfolio.html */
.portfolio {
  padding-bottom: 94px;
}

.portfolio-filter-list {
  display: flex;
  justify-content: center;
  align-items: center; 
  padding-bottom: 50px;
}

.portfolio-filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  color: var(--title-color);
  background-color: var(--filter-color);
  background-color: #F5F4FA;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-text);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border:none;
  border-radius: 4px;  
}

.portfolio-list{
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-item {
  flex-basis: calc((100% - (30px * var(--one-item) * 3)) / (var(--one-item) * 3));
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio-item-text {
  padding: 20px 24px;
  text-align: center;
}

.portfolio-item-title {  
  margin: 0;  
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color)
}

.portfolio-item-filter {
  margin: 0;
  font-size: 16px;
  line-height: 1.875;
}

.portfolio-item-link,
.portfolio-item-link:hover,
.portfolio-item-link:focus {
  text-decoration: none;
  color: var(--main-text-color);
}

